.paywrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.payment-form {
    background: orange;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
}
.payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.payment-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.payment-form input,
.payment-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.payment-form .cvv {
    width: 48%;
    float: left;
}
.payment-form .expiry {
    display: flex;
    gap: 10px;
}
.payment-form .icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}
.payment-form button {
    width: 100%;
    padding: 12px;
    background: black;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}
.payment-form button:hover{
    opacity: 0.8;
}
@media (max-width: 600px) {
    .payment-form .cvv {
        width: 100%;
        float: none;
    }
    .payment-form .expiry {
        flex-direction: column;
    }
}