.thank__you span i{
    font-size: 4rem;
    color: green;
}
.thank__you h1{
    font-size: 3.6rem;
    font-family:Arial, Helvetica, sans-serif,'Times New Roman' ;
    font-style: italic;
    color: orange;
}
